{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<body>
{% block content %}
    <section class="login-page">
        <h2>Zaloguj się</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            {% if message %}
            {{ message }}
            {% endif %}
            <div class="form-group form-group--buttons">
                <a href="{% url "register" %}" class="btn btn--without-border">Załóż konto</a>
                <button class="btn" type="submit">Zaloguj się</button>
            </div>
        </form>
    </section>
{% endblock %}
</body>
</html>
