{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<body>
{% block content %}
    <section class="login-page">
        <h2>Profil Użytkownika</h2>
        <div class="user-profile">
            <p>Imię: {{ user.first_name }}</p>
            <p>Nazwisko: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </section>
    <section class="donations">
        <h2>Lista przekazanych darów</h2>
        <table class="user-donations">
            <thead>
            <tr>
                <th>Cel</th>
                <th>Kategorie</th>
                <th>Ilość przekazanych worków</th>
                <th>data odbioru /<br> data przekazania</th>
                <th>Status</th>
                <th>Potwierdź odbiór</th>
            </tr>
            </thead>
            <tbody id="picked_donations">
            {% for donation in donations %}
                <tr>
                    <td>{{ donation.institution }}</td>
                    <td>{% for category in donation.categories.all %}{{ category }}<br>{% endfor %}</td>
                    <td>{{ donation.quantity}}</td>
                    <td>{{ donation.pick_up_date }}</td>
                    {% if donation.is_taken == True %}
                        <td>Odebrano</td>
                    {% else %}
                        <td id={{ donation.id }}>Oczekuje na Odbiór</td>
                    {% endif %}
                    {% if donation.is_taken == True %}
                        <td></td>
                    {% else %}
                        <td >
                            <form name="picked_donations" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ donation.id }}" name="id">
                                <button type="submit">  Potwierdź odbiór  </button>
                            </form>
                        </td>

                    {% endif %}
                        <td>
                             <button id="donation_status" value="{{ donation.id }}">  Potwierdź odbiór  </button>
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
</body>
</html>